<div class="title">
    <h1>{{vOperacion}} libro</h1>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-subtitle>
            Datos del libro
        </mat-card-subtitle>

        <form [formGroup]="form" (ngSubmit)="agregarEditarLibro()">
        
            <mat-grid-list cols="2" rowHeight="80px">

                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Titulo</mat-label>
                        <input type="text" formControlName="titulo" matInput autocomplete="off" maxlength="150">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Año de publicacion</mat-label>                        
                        <input type="datetime-local" formControlName="anoPublicacion" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Genero</mat-label>
                        <input type="text" formControlName="genero" matInput autocomplete="off" maxlength="100">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Numero de paginas</mat-label>
                        <input type="number" formControlName="numPaginas" matInput autocomplete="off" maxlength="5">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Autor</mat-label>
                        <input type="text" formControlName="autor" matInput autocomplete="off" maxlength="50">
                    </mat-form-field>
                </mat-grid-tile>

                <!--
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Peso</mat-label>
                        <input type="number" formControlName="peso" matInput autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                -->

                <mat-grid-tile [colspan]="2">
                    <!-- <button [disabled]="form.invalid" type="submit" class="btnAceptar" mat-raised-button color="primary">Aceptar</button> -->
                    <button mat-raised-button >{{vOperacion}}</button> 
                    <button mat-raised-button routerLink="/app-libro">Volver</button>                    
                </mat-grid-tile>
                                
            </mat-grid-list>
        </form>
        
    </mat-card>
</div>